/* Navbar Styling */
.navbar {
  background-color: #333;
  padding: 1rem;
  text-align: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Event Page Styling */
.user-page {
  padding: 2rem;
  font-family: Arial, sans-serif;
  text-align: center;
}

.event-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.event-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 1rem;
  background-color: #f9f9f9;
}

.event-name {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.event-photo {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.event-details {
  font-size: 1rem;
  color: #555;
}

.event-details p {
  margin: 0.5rem 0;
}
.book-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.book-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.book-button:hover:enabled {
  background-color: #0056b3;
}

